
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.borde {
    border-bottom: solid 3px brown;
    margin-top: 20px;
    margin-bottom: 20px;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: #333; 
}


h1, h2 {
    color: #4a4a4a; 
    margin-bottom: 10px;
}


ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    line-height: 1.6; 
}


ul li {
    background-color: #e6e6e6; 
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}
